---
import { getNodeByUri } from "../lib/api";
console.log(Astro.url.pathname)
const nodeData = await getNodeByUri(Astro.url.pathname);

if (!nodeData) {
  // return {
  //   status: 404,
  //   // headers: {
  //   //   "Cache-Control": "max-age=600, must-revalidate",
  //   // },
  // };
  return new Response("Not found", { status: 404 });
}
// Astro.response.headers.set("Cache-Control", "max-age=600, must-revalidate");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<pre>
			{JSON.stringify(nodeData, null, 2)}
		</pre>
	</body>
</html>
